<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thefonz.ed_tool"
    android:installLocation="auto">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeDark">
        <!--android:theme="@android:style/Theme.Material" -->

        <activity
            android:name=".ED_Tool"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".preferences.AppPreferences" />

        <activity
            android:name=".preferences.Preferences_ButtonBox" />

        <activity
            android:name=".preferences.Dialog_ButtonBox"
            android:theme="@style/small_dialog"/>

        <activity
            android:name=".preferences.Dialog_Info"
            android:theme="@style/small_dialog"/>

        <activity
            android:name=".preferences.Preferences_ListView"
            android:theme="@style/small_dialog"/>

        <activity
            android:name=".update_manager.Dialog_Updater"
            android:theme="@style/small_dialog"/>

        <activity
            android:name=".backup_manager.Dialog_BackupRestore"
            android:theme="@style/small_dialog"/>

    </application>

</manifest>
